name: Release
on:
  release:
    types:
      - created
  workflow_dispatch:
permissions:
  contents: write # Required for creating releases
  id-token: write # Required for authenticating with GitHub Packages
env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
jobs:
  publish_on_win:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.0.0
      # Setup Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: install dependencies
        run: npm install
      - name: install dependencies
        run: pip install poetry&&poetry install
      - name: packing
        run: npm run pack
      - name: publish
        run: npm run publish
